*{
    font-family: sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

.logo{
padding-left: 80px;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
    padding-right: 100px;
    align-items: center;


} 
.navigation a{
   text-decoration: none;
margin-left: auto;
font-size: 1.1em;
font-weight: 700;
padding-left: 30px;
}
.button{
    color:white;
    font-weight: bold; 
    margin-left: 20px;
    background-color: #1ceb1c;
        text-align: center;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        border-radius:4px;
}
.main{
    width: 100%;
    min-height: 100vh;
    background: url(images/sefactory.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    
}
.main h1{
    word-spacing: 0.2px;
    letter-spacing: 0.5px;
    font-weight: bold; 
    font-size: 60px;
    color: white;
}
.main h2{
    font-weight: 100;
    font-size: 60px;
   color: white;

}

.main p{
    font-weight: 100;
    font-size: 25px;
   color: white;
}
.topspacemain{
    padding-top: 200px;
}
.leftmarginmain{
    padding-left:100px;
}
.marginlearnmore{
    margin-top: 20px;
}